/* color primary: 4CAF50 */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
    margin: 0;
    padding: 0;
}
a.anchor{
	display: block; 
	position: relative; 
	top: -70px; 
	visibility: hidden;
}
html { 
	/*background: url("../img/night-city.jpg") no-repeat center;
	background-size: cover;
	-webkit-background-size:  cover;
	-moz-background-size:  cover;
	-o-background-size:  cover;*/

    /*
    so much laggg because redrawing website everytime

    background-attachment: fixed;
    */
    
	/* fix name centering problem when side bar is opened */
	overflow-y: scroll;
}

nav{
	background-color: transparent;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
}
.nav-wrapper{
	background-color: transparent;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
footer.page-footer{
	background-color: transparent;
}

.parallax-container{
	height: auto;
}
/*html {
	font-family: 'Raleway', sans-serif;
}
*/
#cover {
	position: fixed; height: 100%; width: 100%; top:0; left: 0; z-index:9999; 
	font-size: 30px; text-align: center; color: #fff;
}
main {
	flex: 1 0 auto;
}

nav ul a.active {
	/* use to highlight tabs based on scrollspy */
	background: rgba(0,0,0,0.2);
}

ul{
	padding-left: 15px;
}

ul li{
	list-style-type: disc; 
}

.nobullet{
	list-style-type: none;
}

.collection .collection-item {
	background-color: #fff;
	line-height: 1.5rem;
	padding: 10px 20px;
	margin: 0;
	border-bottom: 1px solid #e0e0e0;
}

.collection{
	border: 0px;
}

.bubble {
	position: relative;
	height: 100px;
	width: 250px;
	background: #fff;
	border: #bbb solid 0;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

/* label color for input*/
.input-field label {
	color: #4CAF50;
}

/* label color for activated input */
.input-field.active label{
	color:#4CAF50;
}

/* label focus color */
.input-field input[type=text]:focus + label {
	color: #4CAF50;
}
/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid #4CAF50;
	box-shadow: 0 1px 0 0 #4CAF50;
}

.center{        
	display:block;
	margin-left:auto;
	margin-right:auto;
}

/*custom white loader to use, simply overrides red color from library*/
.custom-white-spinner{
	border-color: #ffffff;
}

/* used for making nav bar no shadow */
.z-depth-0 {
	-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
	-moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0);
}

/* section size */
.screen-section{
	width: 100%;
	min-height: 100%;
}


/* section background colors increasing in darkness */
.section-1{
	background-color: #FAFAFA;
}
.section-2{
	background-color: #F2F2F2;
}
.section-3{
	background-color: #EBEBEB;
}
.section-4{
	background-color: #E3E3E3;
}
.section-5{
	background-color: #DBDBDB;
}






/** Deprecated **/
/* Wrapper */
.icon-button {
	background-color: white;
	border-radius: 3rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3rem;
	line-height: 3rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 3rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3rem;
	height: 3rem;
	border-radius: 3rem;
	margin: -1.5rem;
}
/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 3rem;
	left: 0;
	line-height: 3rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	width: 3rem;
	z-index: 10;
}

/*Gives the icon it's color when unhovered*/
.icon-button .icon-twitter {
	color: #4099ff;
}
.icon-button .icon-github{
	color: black;
}
.icon-button .icon-linkedin{
	color: #0077B5;
}

/*On hover, turns the icon white*/
.icon-button:hover .icon-twitter,
.icon-button:hover .icon-github,
.icon-button:hover .icon-linkedin{
	color: white;
}
/*On hover, changes background*/
.twitter span {
	background-color: #4099ff;
}
.github span{
	background-color:black;
}
.linkedin span{
	background-color: #0077B5;
}

.end-text{
	font-size: 200%;
	color: black;
	text-align: center;
	font-weight: 1;
}

textarea{
    height: 200px;
    color:black;
    background-color: white;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 125%;
    padding: 12px;
    margin: 0px;
    
    border: 1px solid #999;
    border-radius: 2px;
    /*outline: none;*/
    resize: vertical;
    
    
}
textarea:focus{
    outline: none;
    border: 1px solid #4CAF50; 
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 4px #4195fc;
       -moz-box-shadow: 0px 0px 4px #4195fc;
            box-shadow: 0px 0px 4px #4195fc;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}

.non-resizable-textarea{
    resize: none;
    height: 50px;
    overflow-y: hidden;
}


.send-button{
    border-radius: 100px;
    max-width: 50%;
/*    background-color: #4CAF50;*/
}
.chip{
    margin: 5px;
}

.social{
  background: #4CAF50;

  margin: 5px -20px -20px -20px;
  border-radius: 0px 0px 2px 2px;
  padding: 20px;
}
i{
  color: white;
  margin: 0px 20px 0px 20px;
  cursor: pointer;
}
#main-name{
  font-weight: 300;
}
#main-blurb{
  font-weight: 300;
  color: gray;
}
